@font-face {
    font-family: 'Figtree';
    src: url('fonts/static/Figtree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/static/Figtree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body {
    background-color: rgb(6, 23, 30);
    margin: 0;
    font-family: "Figtree";
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    gap: 160px;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #09212A;
}

nav {
    display: flex;
    margin-left: 60px;
}

.logo {
    width: 250px;
    height: auto;
}

main {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    width: 100%;
    margin-bottom: 60px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
    font-weight: bold;
}

.album {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.albumImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px;
    border-radius: 23px;
    border: 2px solid transparent;
}

.albumImage:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
    border-color: aqua;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    background-color: #09212A;
    color: white;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    header {
        justify-content: center;
    }

    nav {
        margin-left: 0;
    }

    h1 {
        font-size: 38px;
    }
}

@media (max-width: 500px) {
    main {
        gap: 40px;
    }

    h1 {
        text-align: center;
    }

    .albumImage {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 350px) {
    .albumImage {
        width: 200px;
        height: 200px;
    }

    .legalText {
        font-size: 15px;
    }
}