@font-face {
    font-family: 'Figtree';
    src: url('fonts/static/Figtree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/static/Figtree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: rgb(6, 23, 30);
    margin: 0;
    font-family: "Figtree";
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    gap: 160px;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #09212A;
}

nav {
    display: flex;
    margin-left: 60px;
}

.logo {
    width: 250px;
    height: auto;
}

main {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    width: 100%;
    margin-bottom: 60px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
    font-weight: bold;
}

.album {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.albumImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px;
    border-radius: 23px;
    border: 2px solid transparent;
}

.albumImage:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
    border-color: aqua;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    background-color: #09212A;
    color: white;
    border-radius: 50em / 2em 2em 0 0;
    box-sizing: border-box;
}

.dialog {
    border: none;
    border-radius: 50px;
    padding: 40px;
    background-color: #09212A;
    color: white;
    width: 100%;
    height: 800px;
    max-width: 800px;
}

.dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeButton {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #09212A;
    border-radius: 50%;
    border: none;
    background: none;
    padding-block: 0;
    padding-inline: 0;
}

.closeButton:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
    background-color: #124253;
    border-radius: 50%;
}

.imgSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;

}

.dialogImg {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.dialogFooter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 65px;

}

.navButton {
    width: 70px;
    height: 70px;
    cursor: pointer;
    object-fit: scale-down;
    background: none;
    border: none;
    border-radius: 50%;
}

.navButtons {
    cursor: pointer;
}

.navButtons:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
    background-color: #124253;
    border-radius: 50%;
}

@media (max-width: 900px) {
    .dialog {
        width: 60%;
        height: 650px;
        padding: 25px;
    }

    .dialogFooter {
        align-items: start;
        gap: 30px;
        height: 80px;
    }
}


@media (max-width: 768px) {
    header {
        justify-content: center;
    }

    nav {
        margin-left: 0;
    }

    h1 {
        font-size: 38px;
    }

    .dialogTitles {
        font-size: 20px;
    }

    .navButtons {
        width: 50px;
        height: 50px;
    }
    .dialogFooter {
        gap: 50px;
    }
}

@media (max-width: 500px) {
    main {
        gap: 40px;
    }

    h1 {
        text-align: center;
    }

    .albumImage {
        width: 120px;
        height: 120px;
    }

    .dialog {
        width: 60%;
        height: 550px;
        padding: 20px;
    }

    .dialogFooter {
        align-items: start;
        height: 60px;
        padding-top: 0;
    }

    .dialog {
        width: 85%;
    }
}

@media (max-width: 350px) {
    .albumImage {
        width: 200px;
        height: 200px;
    }

    .legalText {
        font-size: 15px;
    }
}